{% extends "_base.html" %}
{% load static %}
{% block include_custom %}
<link rel="stylesheet"
        href="{% static 'src/signin.css' %}">
{% endblock include_custom %}
{% block content %}
<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
        <h3 class="mt-8 mb-4 text-3xl font-semibold dark:text-white px-4 lg:px-12 mx-auto max-w-screen-xl ">Dashboard</h3>
        <div class="mx-auto max-w-screen-xl px-4 lg:px-12 ">
            <!-- Start coding here -->
            <div class="bg-white dark:bg-gray-800 relative  shadow-md sm:rounded-lg overflow-hidden">
                <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                    <div class="w-full md:w-1/2">
                        <div class="flex items-center" onsubmit="handleSearch()">
                            <label for="simple-search" class="sr-only">Search</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                        <div class="flex items-center space-x-3 w-full md:w-auto">
                            <button id="timeFilterDropdownButton" data-dropdown-toggle="timeFilterDropdown" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                                <svg class="h-4 w-4 mr-2 text-gray-400" width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.50009 0.877014C3.84241 0.877014 0.877258 3.84216 0.877258 7.49984C0.877258 11.1575 3.8424 14.1227 7.50009 14.1227C11.1578 14.1227 14.1229 11.1575 14.1229 7.49984C14.1229 3.84216 11.1577 0.877014 7.50009 0.877014ZM1.82726 7.49984C1.82726 4.36683 4.36708 1.82701 7.50009 1.82701C10.6331 1.82701 13.1729 4.36683 13.1729 7.49984C13.1729 10.6328 10.6331 13.1727 7.50009 13.1727C4.36708 13.1727 1.82726 10.6328 1.82726 7.49984ZM8 4.50001C8 4.22387 7.77614 4.00001 7.5 4.00001C7.22386 4.00001 7 4.22387 7 4.50001V7.50001C7 7.63262 7.05268 7.7598 7.14645 7.85357L9.14645 9.85357C9.34171 10.0488 9.65829 10.0488 9.85355 9.85357C10.0488 9.65831 10.0488 9.34172 9.85355 9.14646L8 7.29291V4.50001Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                <div id="display-sort-timing-type">

                                    Oldest
                                </div>
                                    <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                                    </svg>
                                </button>
                                <div id="timeFilterDropdown" class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700 ">
                                    <!-- <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Choose brand</h6> -->
                                    <ul class="space-y-1 text-sm  w-full" aria-labelledby="timeFilterDropdownButton">
                                            <li class="flex items-center w-full">
                                                <button id="site-filter-oldest" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-md text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:ring-gray-700 dark:border-gray-700 w-full">Oldest</button>             
                                            </li>
                                            <li class="flex items-center w-full">
                                                <button id="site-filter-newest" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-md text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:ring-gray-700 dark:border-gray-700 w-full">Newest</button>             
                                            </li>                                                
                                                
                                                                                                    
                                    </ul>
                                    
                                </div>
                        
                    </div>
                        <div class="flex items-center space-x-3 w-full md:w-auto">
                                <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
                                        </svg>
                                        Status
                                        <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                            <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                                        </svg>
                                    </button>
                                    <div id="filterDropdown" class="z-200 hidden w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
                                        <!-- <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Choose brand</h6> -->
                                        <ul class="space-y-2 text-sm h-40 overflow-auto" aria-labelledby="filterDropdownButton">
                                                <li class="flex items-center">
                                                        <input id="report-request-submitted" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-blue-600 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="report-request-submitted" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Report Request Submitted</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="visit-assigned" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="visit-assigned" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Visit Assigned</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="visit-completed" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-green-600 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="visit-completed" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Visit Completed</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="visit-approved" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-teal-600 focus:ring-teal-500 dark:focus:ring-teal-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="visit-approved" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Visit Approved</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="visit-reassigned" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-orange-600 focus:ring-orange-500 dark:focus:ring-orange-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="visit-reassigned" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Visit Reassigned</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="report-generated" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-purple-600 focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="report-generated" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Report Generated</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="report-in-progress" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="report-in-progress" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Report in Progress</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="report-completed" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-pink-600 focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="report-completed" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Report Completed</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="report-submitted" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-cyan-600 focus:ring-cyan-500 dark:focus:ring-cyan-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="report-submitted" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Report Submitted</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="report-approved" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-lime-600 focus:ring-lime-500 dark:focus:ring-lime-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="report-approved" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Report Approved</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="complete" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-gray-600 focus:ring-gray-500 dark:focus:ring-gray-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="complete" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Complete </label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="report-reassigned" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-red-600 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="report-reassigned" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Report Reassigned</label>
                                                    </li>
                                                    <li class="flex items-center">
                                                        <input id="payment-pending" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="payment-pending" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Payment Pending </label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="payment-delayed" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-red-600 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="payment-delayed" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Payment Delayed</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="payment-cancelled" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-gray-600 focus:ring-gray-500 dark:focus:ring-gray-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="payment-cancelled" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Payment Cancelled</label>
                                                    </li>
                                                    
                                                    <li class="flex items-center">
                                                        <input id="payment-received" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-green-600 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                        <label for="payment-received" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Payment Received</label>
                                                    </li>
                                                                                                        
                                                </ul>
                                                <button onclick="getCheckedCheckboxIds(this)" type="button" class=" flex mt-2 w-full items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 ">
                                                    <!-- <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                                                    </svg> -->
                                                    Filter
                                                </button>
                                    </div>
                            
                        </div>
                    </div>
                </div>
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-4 py-3">Site name</th>
                                <th scope="col" class="px-4 py-3">Visit Due</th>
                                <th scope="col" class="px-4 py-3">XYZ</th>
                                <th scope="col" class="px-4 py-3">Report status</th>
                                <th scope="col" class="px-4 py-3">Payment status</th>
                                <th scope="col" class="px-4 py-3">
                                    <span class="sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody >
                            {% if sites %}
                            {% for site in sites %}
                            <tr class="border-b dark:border-gray-700">
                                <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ site.name }}</th>
                                <td class="px-4 py-3">{{ site.visit_due_date }}</td>
                                <td class="px-4 py-3">$2999</td>
                                <td class="px-4 py-3"><span class="bg-{{ site.get_report_status_color }}-100 text-{{ site.get_report_status_color }}-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-{{ site.get_report_status_color }}-900 dark:text-{{ site.get_report_status_color }}-300">{{ site.report_status.title }}</span></td>
                                <td class="px-4 py-3"><span class="bg-{{ site.get_payment_status_color }}-100 text-{{ site.get_payment_status_color }}-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-{{ site.get_payment_status_color }}-900 dark:text-{{ site.get_payment_status_color }}-300">{{ site.payment_status.title }}</span></td>
                                <td class="px-4 py-3 flex items-center justify-end">
                                    <button id="site-{{ site.pk }}-button" data-dropdown-toggle="site-{{ site.pk }}" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                        </svg>
                                    </button>
                                    <div id="site-{{ site.pk }}" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="site-{{ site.pk }}-button">
                                            <li>
                                                <a href="{% url 'edit_assignees' site.pk %}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit assignees</a>
                                            </li>
                                            <li>
                                                <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Show comments</a>
                                            </li>
                                            <li>
                                                <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View/Edit</a>
                                            </li>
                                        </ul>
                                        <div class="py-1">
                                            <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                            {% else %}
                            <tr>
                                <td>

                                        <p class="text-gray-500 dark:text-gray-400 my-4 text-md text-center">Oops, No sites.</p>
                                </td>

                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                        Showing
                        <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
                        of
                        <span class="font-semibold text-gray-900 dark:text-white">1000</span>
                    </span>
                    <ul class="inline-flex items-stretch -space-x-px">
                        <li>
                            <a href="#" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Previous</span>
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                        </li>
                        <li>
                            <a href="#" aria-current="page" class="flex items-center justify-center text-sm z-10 py-2 px-3 leading-tight text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">100</a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Next</span>
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        </section>
<script>
    function getCheckedCheckboxIds() {
    // Select all checkboxes inside the specified <ul>
        let checkboxes = document.querySelectorAll('.space-y-2 input[type="checkbox"]');
        
        // Filter checked checkboxes and return their IDs
        let checkedIds = Array.from(checkboxes)
            .filter(checkbox => checkbox.checked)
            .map(checkbox => checkbox.id);

            const url = new URL(window.location.href);
            url.searchParams.append('filter_status', checkedIds.join(','));
            window.location.replace(url);
        // window.location.replace("/?filter_status=" + `${checkedIds.join(',')}`);
        
        // return checkedIds;
    }
    function handleSearch(){
        
            return false;
        // alert(input.value)
        // if (new URL('').sea

    }
    document.getElementById("simple-search").addEventListener('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
            // Do something
            let input = document.getElementById('simple-search');
        const url = new URL(window.location.href);
        if(input.value === "" && url.searchParams.has("filter_search_query")){
            url.searchParams.delete('filter_search_query');

        }else{
            if(url.searchParams.has("filter_search_query")){

                url.searchParams.delete('filter_search_query');
            }

            url.searchParams.append('filter_search_query', input.value);
        }
            window.location.replace(url);
        }
    });
    document.getElementById("site-filter-newest").addEventListener('click', function (e) {

        const url = new URL(window.location.href);
            url.searchParams.append('newest', "true");
            window.location.replace(url);

    })
    document.getElementById("site-filter-oldest").addEventListener('click', function (e) {

    const url = new URL(window.location.href);
        url.searchParams.delete('newest');
        window.location.replace(url);

    })

    document.addEventListener('DOMContentLoaded', function () {

        const url = new URL(window.location.href);
        const params = url.searchParams;

        if(params.has("filter_search_query")){
            let input = document.getElementById('simple-search');
            input.value = params.get("filter_search_query");

        }

        if(params.has("filter_status")){

            const statuses = params.get("filter_status").split(",");
            statuses.map((status) => {
                document.getElementById(status).checked = true;
            })

        }

        if(params.has("newest")){
            let filter_display = document.getElementById('display-sort-timing-type');
            filter_display.innerText = "Newest";

        }
        

    })
    
// Example usage
// console.log(getCheckedCheckboxIds());
</script>
{% endblock content %}