{% extends "_base.html" %}

{% block content %}

{% if messages %}
<div class="w-screen h-screen bg-gray-50 dark:bg-gray-900">

    <div class="w-screen flex items-center justify-center">
    
        <div class="flex items-center p-4 mb-4 text-sm mt-4 text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-400 dark:border-yellow-800" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div>
                {% for message in messages %}
                <span class="font-medium">{{ message }}</span>
                {% endfor %}
            </div>
            </div>
    </div>
</div>
{% endif %}

{% endblock content %}